# OS files
.DS_Store
Thumbs.db

# Python cache
__pycache__/
*.pyc
*.pyo

# Jupyter checkpoints
.ipynb_checkpoints/

# Virtual environments
.venv/
env/
venv/

# Environment & secrets
.env
.env.*
*.secret
